# Install the git hook scripts, run `$ pre-commit install` to set up the git hook scripts
# Run against all the files, `$ pre-commit run --all-files`
# Updating hooks automatically: `$ pre-commit autoupdate`

repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/hakancelikdev/unimport
    rev: 0.12.2
    hooks:
      - id: unimport
        args:
          - --remove
          - --include-star-import
          - --gitignore

  - repo: https://github.com/hakancelikdev/unexport
    rev: 0.4.0
    hooks:
      - id: unexport
        exclude: "tests/|__init__.py"
        args:
          - --refactor

  - repo: https://github.com/myint/docformatter
    rev: v1.5.0
    hooks:
      - id: docformatter
        args: [--in-place]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports, --show-error-codes]
        additional_dependencies: [types-toml==0.1.3]
        exclude: "tests/"

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=120

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        files: "\\.(py|.txt|.yaml|.json|.in|.md|.toml|.cfg|.html|.yml)$"
