include LICENSE
include MANIFEST.in
include tox.ini
include setup.cfg
include pyproject.toml
include Makefile
include .pre-commit-config.yaml
include .gitignore
include .dockerignore
include *.md
graft pydbm
graft docs
graft tests
global-exclude __pycache__
global-exclude *.py[co]
